# Entorno virtual
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# PDFs de prueba (no subir certificados reales)
entrada/*.pdf
salida/*.pdf
*.pdf

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ZIP files
*.zip
